.notificationArea {
    margin-top: 30px;
}

.notificationSuccess {
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notificationError {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
}
