.tabCol {
    flex: 1 1 0;
    min-width: 0;
}

.tabHeader {
    cursor: pointer;
}

.tabContent {
    margin-top: 20px;
}

.osBox {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.osName {
    vertical-align: middle;
    font-size: large;
}

@media (min-width: 768px) {
    .osName {
        font-size: x-large;
    }
}

.easyinstallCommand {
    font-size: 15px;
}
