.sectionWhite {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    padding: 50px 0px;
}

.sectionBlue {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #c2e1f2;
    padding: 50px 0px;
}
