.image {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
}

.footnotes {
    counter-reset: list;
}

.footnotesLi {
    list-style: none;
    position: relative;
}

.footnotesLi::before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

/* Table styles */
.comparisonTable {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .comparisonTable {
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .comparisonTable {
        width: 600px;
    }
}

.comparisonIcon {
    position: relative;
    text-align: center;
}

@media (min-width: 992px) {
    .comparisonIcon {
        width: 45px;
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .comparisonIcon {
        width: 45px;
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .comparisonIcon {
        width: 20px;
        font-size: 15px;
    }
}

.comparisonIconYes {
    background-color: #dff0d8;
    color: green;
}

.comparisonIconNo {
    background-color: #f2dede;
    color: red;
}

.comparisonIconHalf {
    background-color: #fcf8e3;
    color: orange;
}

.headerTh {
}

@media (max-width: 767px) {
    .headerTh {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.fsTypeHeaderTh {
}

@media (max-width: 767px) {
    .fsTypeHeaderTh {
        height: 140px;
        white-space: nowrap;
    }
}

.fsTypeHeaderDiv {
}

@media (max-width: 767px) {
    .fsTypeHeaderDiv {
        transform: rotate(270deg);
        width: 30px;
    }
}

.fsTypeHeaderSpan {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.headerRow {
    border-bottom: 2px solid #ddd;
}

.row {
    border-top: 1px solid #ddd;
}

.cell {
}

@media (max-width: 767px) {
    .cell {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.footnoteMark {
    position: absolute;
    top: 10px;
    font-size: 10px;
}
