.console {
    background-color: black;
    color: #eee;
    padding: 15px;
}

.linestart {
    color: #008800;
    margin-right: 0.5em;
    /* disallow selecting it */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    width: 100%;
}

.output {
    color: #888;
}
