/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .navbar {
        padding-right: 140px;
    }
}

.link {
    cursor: pointer;
}

.brand {
    margin-left: 10px;
}

/* GitHub ribbon styles */
.ribbon {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    border: 0;
}

/* Footer styles */
.footer {
    height: 50px;
    color: white;
}

.footerSection {
    padding-top: 20px;
    background: black;
}
