/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .navbar {
        padding-right: 140px;
    }
}

.link {
    cursor: pointer;
}

.brand {
    margin-left: 10px;
}

/* GitHub ribbon styles */
.ribbon {
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 0;
    border: 0;
}

/* Page layout styles */
.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer styles */
.footer {
    height: 50px;
    color: white;
}

.footerSection {
    padding-top: 20px;
    background: black;
}
