name: Backend

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "backend"
  # Don't cancel in-progress deploys because that might leave AWS in an unclean state
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'backend/package.json'
          cache: npm
          cache-dependency-path: backend/package.json
      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2
      - name: Install Dependencies
        working-directory: backend
        run: npm install
      - name: Type Check
        working-directory: backend
        run: npm run typecheck
      - name: Run Tests
        working-directory: backend
        run: npm test
      - name: Build
        working-directory: backend
        run: npm run build
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sam-build
          path: backend/.aws-sam
          if-no-files-found: error
          include-hidden-files: true

  deploy:
    needs: build
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    environment:
      name: backend-deploy
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2
      - name: Load artifacts
        uses: actions/download-artifact@v4
        with:
          name: sam-build
          path: backend/.aws-sam
      - name: Deploy
        working-directory: backend
        run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset
